img {
    width: 220px;
    height: 220px;
    border-radius: 30px;
}
html {
    background: radial-gradient(circle farthest-corner at 100% 50px, #000039,#1d5f7f , #d56b5e, #fde18d);
}
body {
    font-family: Calibri;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1024px;
    min-width: 424px;
    height: 770px;
    position: relative;
    margin: 0 auto;


}

a {
    font-style: italic;
    text-decoration: none;
    color: #fde18d;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

input[type="email"]
{
    background-position: 0px;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-size: 20px;
}

input[type="password"]
{
    background-position: 0px;
    background-image: url(lock1.png);
    background-repeat: no-repeat;
    background-size: 20px;
}


.inputtext {
    outline: none;
    padding-left: 20px;
    width: 450px;
    height: 38px;
    font-family: Calibri, serif;
    font-size: large;
    display: flex;
    flex-grow: 2;
    flex-shrink: 1;
    margin-top: 6%;
    color: #535b80;
    background-color: #dffff8;
    border: none;
    border-radius: 3px;


}




input.inputtext:focus {

    color: #000000;
    border: 1px solid #000000
}
.checkbox_label:before{
    content: "";
    display: block;
    width:10px;
    height: 10px;
    border: 1px solid black;
}

label {
    color: #0c008a;
    text-shadow: 1px 1px 2px #41aeeb, 0 0 1em #4b68ca;
}

div#under {
    margin-top: 6pt;
    font-max-size: 999pt;
    font-min-size: 1pt;
    font-size: 14pt;
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.button {
    position: relative;
    width:350px;
    height: 40px;
    margin-top: 20px;
    color: rgba(42, 92, 152, 0.76);
    background: linear-gradient(to top left, #ff7274, #98a1ff);
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 12px; box-shadow: 0 -3px rgba(207, 104, 104, 0.65) inset;
    transition: 0.2s;
}

.button:hover { background: linear-gradient(to top left, #ff2b80, #48a9ff); }
.button:active {
    background: rgb(186, 87, 199);
    box-shadow: 0 3px rgb(199, 70, 118) inset;
}




